<div class="management-group">
  <h1>Car Management</h1>

  <div *ngIf="isEditing && selectedCar" class="form-container">
    <h2>Edit Car</h2>
    <form (ngSubmit)="updateCar(selectedCar)">
      <mat-form-field>
        <mat-label>Make</mat-label>
        <input matInput [(ngModel)]="selectedCar.make" name="editMake" placeholder="Make" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Model</mat-label>
        <input matInput [(ngModel)]="selectedCar.type" name="editModel" placeholder="Model" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Year</mat-label>
        <input matInput type="number" [(ngModel)]="selectedCar.year" name="editYear" placeholder="Year" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>License Number</mat-label>
        <input matInput [(ngModel)]="selectedCar.licenseNumber" name="editLicenseNumber" placeholder="License Number" required />
      </mat-form-field>
      <div class="button-group">
        <button mat-raised-button color="primary" type="submit" [disabled]="!isFormValid(selectedCar)">Update car</button>
        <button mat-button color="primary" type="button" (click)="isEditing = false; selectedCar = null;">Cancel</button>
      </div>
    </form>
  </div>

  <div *ngIf="!isEditing" class="form-container">
    <h2>Add New Car</h2>
    <form (ngSubmit)="createCustomer(newCar)" class="car-form">
      <mat-form-field appearance="fill">
        <mat-label>Make</mat-label>
        <input matInput [(ngModel)]="newCar.make" name="make" placeholder="Make" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Model</mat-label>
        <input matInput [(ngModel)]="newCar.type" name="model" placeholder="Model" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Year</mat-label>
        <input matInput type="number" [(ngModel)]="newCar.year" name="year" placeholder="Year" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>License Number</mat-label>
        <input matInput [(ngModel)]="newCar.licenseNumber" name="licenseNumber" placeholder="License Number" required />
      </mat-form-field>
      <div class="button-group">
        <button mat-raised-button color="primary" type="submit" [disabled]="!isFormValid(newCar)">Add Car</button>
      </div>
    </form>
  </div>

  <h2>Car List</h2>
  <table mat-table [dataSource]="cars" class="mat-elevation-z8">

    <ng-container matColumnDef="make">
      <th mat-header-cell *matHeaderCellDef> Make </th>
      <td mat-cell *matCellDef="let car"> {{ car.make }} </td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let car"> {{ car.type }} </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let car"> {{ car.year }} </td>
    </ng-container>

    <ng-container matColumnDef="licenseNumber">
      <th mat-header-cell *matHeaderCellDef> License Number </th>
      <td mat-cell *matCellDef="let car"> {{ car.licenseNumber }} </td>
    </ng-container>

    <ng-container matColumnDef="rentedBy">
      <th mat-header-cell *matHeaderCellDef> Rented By </th>
      <td mat-cell *matCellDef="let car"> {{ car.rentedBy ? car.rentedBy.firstName + car.rentedBy.lastName: '-' }} </td>
    </ng-container>

    <ng-container matColumnDef="kilometers">
      <th mat-header-cell *matHeaderCellDef> Kilometers </th>
      <td mat-cell *matCellDef="let car"> {{ car.rentalKilometers ? car.rentalKilometers : '-' }} </td>
    </ng-container>


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let car">
        <div class="action-buttons">
          <button mat-icon-button (click)="editCar(car)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteCar(car._id)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['make', 'model', 'year', 'licenseNumber', 'rentedBy', 'kilometers', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['make', 'model', 'year', 'licenseNumber', 'rentedBy', 'kilometers', 'actions'];"></tr>
  </table>

</div>
